{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="contact-form">
  <div class="container">
    <div class="contact-box row">
      {{ with site.Params.contact -}}
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>{{ i18n "impressum_title" }}</h2>
          <ul class="address-block">
            {{ $add_address_descriptors := .address_descriptors }}
            {{ with site.Params.location }}<li><i class="fas fa-map-marker-alt"></i>{{ if $add_address_descriptors }}{{ i18n "location" | printf "%s: " }}{{ end }}<div>{{ . | markdownify }}</div></li>{{ end }}
            {{ with site.Params.ansprechpartner }}<li><i class="fas fa-user"></i>{{ if $add_address_descriptors }}{{ i18n "ansprechpartner" | printf "%s: " }}{{ end }}{{ . }}</li>{{ end }}
            {{ with site.Params.phone }}<li><i class="fas fa-tty"></i>{{ if $add_address_descriptors }}{{ i18n "phone" | printf "%s: " }}{{ end }}{{ . }}</li>{{ end }}
            {{ with site.Params.email }}<li><i class="fas fa-envelope"></i>{{ if $add_address_descriptors }}{{ i18n "email" | printf "%s: " }}{{ end }}{{ partial "cloak_email" . }}</li>{{ end }}
          </ul>
          <ul class="social-icons">
            {{ range site.Params.social -}}
            <li><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{- end }}
          </ul>
        </div>
      </div>
      {{- end }}
      {{ if site.Params.gmap.enable -}}
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="google-map">
            <div class="map" id="map" data-latitude="{{ site.Params.gmap.map_latitude }}" data-longitude="{{ site.Params.gmap.map_longitude }}" data-marker="{{ site.Params.gmap.map_marker | relURL }}" data-marker-name="{{ site.Title }}"></div>
          </div>
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</section>

{{ end }}
